<?xml version="1.0" encoding="utf-8" ?>
<Config>
  <ColorMode>Traditional</ColorMode>
  <Lists>
    <List>
      <Id>1</Id>
      <HeaderText>objects</HeaderText>
      <ListName>Object</ListName>
      <PluralName>objects</PluralName>
      <SingularName>object</SingularName>
      <HistoryCount>20</HistoryCount>
      <ReadOnly>true</ReadOnly>
      <ListSource>Resource</ListSource>
      <SourceUri>Object.xml</SourceUri>
      <ListDate>2012-07-21T00:00:00</ListDate>
      <SortPriority>1</SortPriority>
      <IsVisible>true</IsVisible>
      <IsTrialList>true</IsTrialList>
    </List>
    <List>
      <Id>2</Id>
      <HeaderText>locations</HeaderText>
      <ListName>Location</ListName>
      <PluralName>locations</PluralName>
      <SingularName>location</SingularName>
      <HistoryCount>20</HistoryCount>
      <ReadOnly>true</ReadOnly>
      <ListSource>Resource</ListSource>
      <SourceUri>Location.xml</SourceUri>
      <ListDate>2012-07-11T00:00:00</ListDate>
      <SortPriority>2</SortPriority>
      <IsVisible>true</IsVisible>
      <IsTrialList>true</IsTrialList>
    </List>
    <List>
      <Id>3</Id>
      <HeaderText>adjectives</HeaderText>
      <ListName>Adjective</ListName>
      <PluralName>adjectives</PluralName>
      <SingularName>adjective</SingularName>
      <HistoryCount>20</HistoryCount>
      <ReadOnly>true</ReadOnly>
      <ListSource>Resource</ListSource>
      <SourceUri>Adjective.xml</SourceUri>
      <ListDate>2012-07-11T00:00:00</ListDate>
      <SortPriority>3</SortPriority>
      <IsVisible>true</IsVisible>
      <IsTrialList>false</IsTrialList>
    </List>
    <List>
      <Id>4</Id>
      <HeaderText>emotions</HeaderText>
      <ListName>Emotions</ListName>
      <PluralName>emotions</PluralName>
      <SingularName>emotions</SingularName>
      <HistoryCount>45</HistoryCount>
      <ReadOnly>true</ReadOnly>
      <ListSource>Resource</ListSource>
      <SourceUri>Emotions.xml</SourceUri>
      <ListDate>2012-07-11T00:00:00</ListDate>
      <SortPriority>4</SortPriority>
      <IsVisible>true</IsVisible>
      <IsTrialList>false</IsTrialList>
    </List>
    <List>
      <Id>5</Id>
      <HeaderText>relationships</HeaderText>
      <ListName>Relationship</ListName>
      <PluralName>relationships</PluralName>
      <SingularName>relationship</SingularName>
      <HistoryCount>15</HistoryCount>
      <ReadOnly>true</ReadOnly>
      <ListSource>Resource</ListSource>
      <SourceUri>Relationship.xml</SourceUri>
      <ListDate>2012-07-11T00:00:00</ListDate>
      <SortPriority>5</SortPriority>
      <IsVisible>true</IsVisible>
      <IsTrialList>false</IsTrialList>
    </List>
  </Lists>
</Config>